/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2015, 6:47:15 PM
    Author     : Tiago Pedro
*/

.leftBarClass
{
    -fx-background-color: rgb(30,30,30);
}

.sideMenuButtonClass
{
    -fx-background-image: url("/assets/white_side_menu_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.markButtonClass
{
    -fx-background-image: url("/assets/white_mark_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.textNoteButtonClass
{
    -fx-background-image: url("/assets/white_text_note_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.activateSpeechButtonClass
{
    -fx-background-image: url("/assets/white_activate_speech_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.notesButtonClass
{
    -fx-background-image: url("/assets/white_notes_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.eventsButtonClass
{
    -fx-background-image: url("/assets/white_events_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.visualAngleButtonClass
{
    -fx-background-image: url("/assets/white_visual_angle_icon.png");
    -fx-background-color: rgb(30,30,30);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}